@using Microsoft.AspNet.Identity
@using System.Linq;
@using AttendanceManagement.Models;




@{
    ViewBag.Title = "Teacher Portal";

    Layout = "~/Views/Shared/_TPLayout.cshtml";
}
@{
    AttendanceManagementDBEntities1 db = new AttendanceManagementDBEntities1();

    var userId = User.Identity.GetUserId();
    var user = db.Teachers.FirstOrDefault(u => u.REFID == userId);
    var department = db.Departments.FirstOrDefault(u => u.DID == user.Department_DID);
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teacher's Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="~/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/creative.min.css" rel="stylesheet">
    <link href="~/css/teachers_portal.css" rel="stylesheet">

</head>

<body id="page-top">



    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <img src="~/img/person.png" alt="">
                    <br>
                    <br>
                    <h2 class="section-heading text-white">@user.Name</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">Teacher's Designation</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Profile</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Your Profile</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-pencil-square-o text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Name</h3>
                        <p class="text-muted mb-0">@user.Name</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-id-badge text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">TID</h3>
                        <p class="text-muted mb-0">@user.TID</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-graduation-cap text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Department</h3>
                        <p class="text-muted mb-0">@department.Name</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/creative.min.js"></script>

</body>

</html>